.metro-lines {
    text-align: center;
}
.metro-lines ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.metro-lines li {
    width: 40%;
    margin: 10px; 
    box-sizing: border-box;
}
.metro-lines img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto;
}
.clickable {
    cursor: pointer;
}

.dest{
    text-align: center;
}

.destination-button{
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3F5E5A;
    color: white;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.destination-button:hover {
    background-color: #49746e;
}
.celbutton{
    width: 200px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #3F5E5A;
    color: white;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.megallok{
    text-align: center;
}
.ajtovalasztoszoveg{
    text-align: center;
    font-size: 24px;
}
.kephavan{
    max-width: 70%;
    max-height: fit-content;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}
