<link rel="stylesheet" href="/styles.css">

<div class = "metro-lines">
    <h2>Metróvonalak</h2>
    <h3>Kattints a megjeleníteni kívánt metróvonalra</h3>
    <ul class="clickable">
    <li><img src="assets/M1.png" alt="M1 Yellow" (click)="onSelectLine('M1')"></li>
    <li><img src="assets/M2.png" alt="M2 Red" (click)="onSelectLine('M2')"></li>
    <li><img src="assets/M3.png" alt="M3 Blue" (click)="onSelectLine('M3')"></li>
    <li><img src="assets/M4.png" alt="M4 Green" (click)="onSelectLine('M4')"></li>
  </ul>
  </div>

  <div id="megallok-container">
  <div class="megallok" *ngIf="selectedLine && destinations.length">
    <h3>Válassz irányt</h3>
    <div *ngFor="let destination of destinations">
      <button  class="btn btn-sm btn-primary custom-gp"(click)="onSelectDestination(destination)">{{ destination.nev }}</button>
    </div>
  </div>

  <div *ngIf="selectedDestination && selectedPictures.length">
    <h3>{{ selectedDestination }} képek</h3>
    <div *ngFor="let picture of selectedPictures">
      <img class="megallokepek" [src]="'assets/' + picture" alt="{{ picture }}">
    </div>
  </div>
</div>