<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Kezdőlap</a></li>

        <li role="presentation" routerLinkActive="active"><a routerLink="/lines" >Metróvonalak</a></li>

        <li role="presentation" routerLinkActive="active"><a routerLink="/dashboard">Vezérlőpult</a></li>

        <li role="presentation" routerLinkActive="active"><a routerLink="/about">Rólunk</a></li>

        <li role="presentation" routerLinkActive="active"><a routerLink="/login">Bejelentkezés</a></li>

        <li role="presentation" routerLinkActive="active"><a routerLink="/signup">Regisztráció</a></li>
        

        <span class="btn btn-primary" *ngIf="authService.isLoggedIn" (click)="logout()">Kijelentkezés</span>

      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
