<h1>Vezérlőpult</h1>
<div>
<h3>Felhasználók kezelése</h3>

<ul>
   <li *ngFor="let user of users$ | async">
      <li *ngFor="let user of users$ | async">
      {{ user.name }} - {{ user.email }}
      <button (click)="editUser(user)">Szerkesztés</button>
      <button (click)="deleteUser(uid)">Törlés</button>
    </li>
  </ul>
</div>

<div class="form-group">
  <h4>Felhasználó hozzáadása</h4>
          <form (ngSubmit)="signUp(email.value, password.value, name.value)" #signInForm="ngForm">
            <input class="hozzaadasemail" type="email" #email placeholder="E-mail cím">
            <input type="password" #password placeholder="Jelszó">
            <input class="hozzaadasnev" name="name" type="name" #name placeholder="Név">
            <button class="hozzaadasbutton" type="submit">Felhasználó hozzáadása</button>
          </form>
        </div>




<div *ngIf="stops$ | async as stops">
  <h3>Megállók</h3>
</div>

<div *ngFor="let direction of directionStops$">
  <h2>{{ direction[0][0]?.direction }}</h2>
  <ul>
    <li *ngFor="let stops$ of direction">
      <ng-container *ngFor="let stop of stops$ | async">
        <div class="stop-container">
          <div>
        <p><strong>Név:</strong> {{ stop.name }}</p>
        <p><strong>Info:</strong> {{ stop.doorInfo }}</p>
          </div>
        <div class="megallo-buttons">
        <button class="megallo-edit" (click)="editStop(stop.id)">Szerkesztés</button>
        <button class="megallo-delete" (click)="deleteStop(stop.id)">Törlés</button>
        </div>
      </div>
      </ng-container>
    </li>
  </ul>
</div>
