button {
    border-radius: 5px;
    background-color: #3f5e5a;
    color: white;
    border: none;
    padding: 10px 10px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

}
.hozzaadasnev{
margin: 4px 4px 4px 2.5px;
border-radius: 2px;
border:1px solid;
}
.hozzaadasemail{
border-radius: 2px;
margin-left: 2.5px;
margin-right: 2.5px;
border:1px solid;
}
.hozzaadasjelszo{
  margin-left: 2px;
  margin-right: 2px;
}
.hozzaadasbutton{
    border-radius: 5px;
    margin: 4px 4px 4px 4px;
}
button:hover {
    background-color: #324b47;
}
ul{
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
li {
    padding: 10px 10px 10px;
}
div {
    padding: 0px 10px 20px 10px;
}
.stop-container {
    display: flex;
    justify-content: space-between;
  }
  
  .stop-container p {
    margin: 0;
  }
  
  .megallo-edit,
  .megallo-delete {
    margin-left: 5px;
  }
  .megallo-buttons{
    display: flex; 
    height: 60px;
  }
  
  .megallo-buttons button{
    margin-right: 5px;
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    max-width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
  
  .pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 14px;
  }
  
  .pagination span {
    margin: 0 10px; 
  }