<div class="row">
    <h2>Üdvözlünk!</h2>
    <h3>Alkalmazásunk segítséget nyújt a metróvonalak használatában.</h3>
    <div class="col-kis-kepek">
            <h4><b>Válassz egy metróvonalat:</b></h4>
            <img src="assets/M1.png" alt="M1 Yellow" routerLink="/lines">
            <img src="assets/M2.png" alt="M2 Red" routerLink="/lines">
            <img src="assets/M3.png" alt="M3 Blue" routerLink="/lines">
            <img src="assets/M4.png" alt="M4 Green" routerLink="/lines">
        
    </div>
    <div class="col-budapest-terkep">
        <img src="assets/budapest-terkep.png" alt="Budapest térkép">
    </div>
</div>
